<div>
    <span class="p-buttonset">
        <button pButton type="button" label="Crear" icon="pi pi-plus"></button>
        <button pButton type="button" label="Editar" icon="pi pi-file"></button>
        <button pButton type="button" label="Eliminar" icon="pi pi-trash"></button>
    </span>
    <p-table #dt [value]="usuarios" exportFilename="browsers" csvSeparator=";" [paginator]="true" [exportHeader]="'customExportHeader'" [rows]="5" [rowsPerPageOptions]="[5,10,15]" [globalFilterFields]="['id','accionista','estado','observacion','fecha']" selectionMode="single" (onRowSelect)="onRowSelect($event)" [(selection)]="usuarioSeleccionado">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscador"/>
                </span>
            </div>
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file" (click)="exportarCsv()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:20%">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="accionista" style="width:20%">Accionista <p-sortIcon field="accionista"></p-sortIcon></th>
                <th pSortableColumn="estado" style="width:20%">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th pSortableColumn="observacion" style="width:20%">Observación <p-sortIcon field="observacion"></p-sortIcon></th>
                <th pSortableColumn="fecha" style="width:20%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
            </tr>
            <tr>
                <th *ngFor="let col of cols">
                    <input pInputText type="text" (input)="dt.filter($any($event.target).value, col.field, col.filterMatchMode)" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr [pSelectableRow]="usuario">
                <td>{{usuario.id}}</td>
                <td>{{usuario.accionista}}</td>
                <td>{{usuario.estado}}</td>
                <td>{{usuario.observacion}}</td>
                <td>{{usuario.fecha}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>