table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-form-field {
  color: red;
  margin-left: 455px;
  height: 50px;
}

.matInput {
  height: 10px;
}

.mat-raised-button {
  background-color: #30C2E0;
  color: white;
}