<body id="tren">
  <div class="container" id="Tren">
    
    <div class="row text-center-test">

      <div class="card shadow-2xl max-w-md animate-fadeInDown ">

        <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
          <div class="w-full max-w-md space-y-8">
            <div>
              <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
              <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Restablece tu contraseña</h2>
              <p class="mt-2 text-center text-sm text-gray-600">
                <a class="text-base text-md mt-2 text-center text-gray-600">Ingresa tu email para restablecer contraseña</a>
              </p>
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                              
              <mat-form-field appearance="outline" class="max-w-sm relative block w-full text-lg">
                <mat-label>Email</mat-label>
                <input type="email" matInput  [formControl]="emailFormControl" [errorStateMatcher]="matcher" required 
                placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Por favor ingrese un <strong>email</strong> valido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  El email es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>

              <div>
                <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-cyan-500 py-2 px-4 text-sm text-lg text-white hover:bg-cyan-600 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:ring-offset-2">
                  <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <!-- Heroicon name: mini/lock-closed -->
                    <svg class="h-5 w-5 text-cyan-200 group-hover:text-cyan-400"  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                    </svg>
                  </span>
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  



</div>
</body>